@model IEnumerable<KutuphaneOtomasyonu.Models.Yayin>

@{
    ViewData["Title"] = "Yayınlar";
}

<h1>Yayınlar</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Yayın Oluştur </a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baslik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RafNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Baslik)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RafNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tur)
                </td>
                <td style="color:white">
                    @Html.ActionLink("Düzenle", "Edit2", new { ISBN = item.ISBN }, new { @class = "btn btn-success" }) |
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @Html.ActionLink("Sil", "Delete", new { ISBN = item.ISBN }, new { @class = "btn btn-danger" }) |
                    @Html.ActionLink("Odünç Al", "OduncAl", new { ISBN = item.ISBN }, new { @class = "btn btn-primary" }) 
                </td>
            </tr>
        }
    </tbody>
</table>
<head>
    <style>
        table {
            border: 5px solid DimGray;
            border-collapse: collapse;
        }

            table th {
                border: 4px solid DimGray;
                background-color: gainsboro;
            }

            table td {
                border: 4px solid DimGray;
                background-color: gainsboro;
            }
    </style>
</head>

