@model IEnumerable<KutuphaneOtomasyonu.Models.Odunc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OduncNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KimlikNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OduncNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KimlikNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlimTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeslimTarihi)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<head>
    <style>
        table {
            border: 5px solid DimGray;
            border-collapse: collapse;
        }

            table th {
                border: 4px solid DimGray;
                background-color: gainsboro;
            }

            table td {
                border: 4px solid DimGray;
                background-color: gainsboro;
            }
    </style>

</head>

